/* Hintergrundfarbe */
body {
    background-color: #151515;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Bild oben in der Mitte */
.banner {
    max-width: 400px;
    width: 80%;
    margin-bottom: 10px;
}

/* Text unter dem Banner */
.subtitle {
    color: #888888;
    font-size: 1rem;
}

.development-status {
    color: #2e2e2e; /* Dunkler als das subtitle, aber heller als der Hintergrund */
    font-size: 0.8rem;
}
